$icon-font-path: "../fonts/glyphicons" !default;
// File name for all font files.
$icon-font-name:   "glyphicons-halflings-regular" !default;
// Element ID within SVG icon file.
$icon-font-svg-id: "glyphicons_halflingsregular" !default;