@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
  font-family: "Lato", arial, helvetica, sans-serif;
  font-size: 1em;
  padding-bottom: 70px !important;
  background: #fafafa;
}
pre,
code {
  white-space: pre-line;
}
.salty-docs-feature {
  text-align: center;
}
.navbar-slider > header .btn-dark {
  font-size: 16px;
  float: right;
  margin: 11px;
  outline: none!important;
}
.landing-page {
  display: block;
  max-width: 800px;
  height: 400px;
  margin: -20px auto 0;
  padding: 20px;
  background: #242424;
}
.landing-page > span {
  display: block;
  max-width: 1000px;
  height: 100%;
  margin: 20px auto;
  background: #242424 url("../img/salty-ui-logo.png") center center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}
.landing-page > span > h1 {
  font-family: "Lato", arial, helvetica, sans-serif;
  font-size: 25px;
  font-size: 20vmin;
  cursor: default;
  text-align: center;
  letter-spacing: 2.4444px;
  color: #fafafa;
  text-shadow: 3px 3px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.highlight {
  cursor: text;
}
.section-hero {
  font-size: 26px;
  padding: 85px 0;
  cursor: default;
  text-align: center;
  color: #6b6b6b;
  border-radius: 0;
  background: #fafafa;
}
.section-hero > h1 {
  font-family: "Lato", sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  position: relative;
  cursor: default;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.section-hero > h1:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  height: 1px;
  margin: -5px auto;
  content: "";
  background: #000;
}
@media (max-width: 500px) {
  .section-hero > h1 {
    font-size: 30px;
    font-size: 8vw;
  }
  .section-hero p {
    font-size: 20px;
    font-size: 5vw;
  }
}
.page-banner {
  margin-bottom: 40px;
  color: #fff;
  background-color: #1abc9c;
}
.page-banner > h1 {
  color: #fff;
}
.page-banner p {
  color: #747474;
}
/*@media (min-width: 992px) {
  .page-banner {
    text-align: left;
  }
}*/
.section-lead {
  color: #6b6b6b;
}
.btn-salty {
  color: #16a085;
  border-color: #16a085;
  background-color: transparent;
}
.btn-salty:hover,
.btn-salty:focus {
  color: #fff;
  background-color: #16a085;
}
.code {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  padding: 24px 24px 173px;
  border-radius: 11px;
  background-image: url("../img/imac.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}
.code-window {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
  cursor: text;
  background: lightgrey;
}
.code-window > pre {
  position: relative;
  height: 100%;
}
.code-window xmp {
  position: absolute;
  top: 0;
  left: 0;
  margin: -10px -80px;
}
.btn-copy {
  font-weight: 500;
  position: absolute;
  bottom: -76px;
  left: 45%;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  color: #08bddd;
  border: none;
  border-radius: 50%;
  background: #2a3542;
}

.iterm {
  overflow: hidden;
  max-width: 600px;
  margin: 10px auto;
}
.iterm--header {
  line-height: 23px;
  position: relative;
  display: block;
  height: 23px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#cfcfcf 5%,#aaa 100%);
}
.iterm--window-icons {
  position: absolute;
  top: 1px;
  left: 10px;
  cursor: default;
}
.iterm--window-icons .yellow,
.iterm--window-icons .green,
.iterm--window-icons .red {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
}
.iterm--window-icons .red {
  background: #ea2803; /* Old browsers */ /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,#ea2803), color-stop(43%,#ea2803), color-stop(43%,#ea2803), color-stop(66%,#e86c57), color-stop(66%,#e86c57), color-stop(87%,#e86c57), color-stop(95%,#f3c5bd), color-stop(96%,#f60), color-stop(96%,#f60), color-stop(96%,#f3c5bd), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ea2803 27%,#ea2803 43%,#ea2803 43%,#e86c57 66%,#e86c57 66%,#e86c57 87%,#f3c5bd 95%,#f60 96%,#f60 96%,#f3c5bd 96%,#c72200 100%); /* Chrome10+,Safari5.1+ */
  background:      -o-radial-gradient(center, ellipse cover, #ea2803 27%,#ea2803 43%,#ea2803 43%,#e86c57 66%,#e86c57 66%,#e86c57 87%,#f3c5bd 95%,#f60 96%,#f60 96%,#f3c5bd 96%,#c72200 100%); /* Opera 12+ */ /* IE10+ */
  background: -webkit-radial-gradient(center, ellipse, #ea2803 27%, #ea2803 43%, #ea2803 43%, #e86c57 66%, #e86c57 66%, #e86c57 87%, #f3c5bd 95%, #f60 96%, #f60 96%, #f3c5bd 96%, #c72200 100%);
  background:      -o-radial-gradient(center, ellipse, #ea2803 27%, #ea2803 43%, #ea2803 43%, #e86c57 66%, #e86c57 66%, #e86c57 87%, #f3c5bd 95%, #f60 96%, #f60 96%, #f3c5bd 96%, #c72200 100%);
  background:         radial-gradient(ellipse at center, #ea2803 27%,#ea2803 43%,#ea2803 43%,#e86c57 66%,#e86c57 66%,#e86c57 87%,#f3c5bd 95%,#f60 96%,#f60 96%,#f3c5bd 96%,#c72200 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2803', endColorstr='#c72200',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
}
.iterm--window-icons .yellow {
  background: #ffd65e; /* Old browsers */ /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffd65e 25%,#febf04 100%); /* Chrome10+,Safari5.1+ */
  background:      -o-radial-gradient(center, ellipse cover, #ffd65e 25%,#febf04 100%); /* Opera 12+ */ /* IE10+ */
  background: -webkit-radial-gradient(center, ellipse, #ffd65e 25%, #febf04 100%);
  background:      -o-radial-gradient(center, ellipse, #ffd65e 25%, #febf04 100%);
  background:         radial-gradient(ellipse at center, #ffd65e 25%,#febf04 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
}
.iterm--window-icons .green {
  background: #b4e391; /* Old browsers */ /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b4e391), color-stop(91%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 91%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
  background:      -o-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 91%,#b4e391 100%); /* Opera 12+ */ /* IE10+ */
  background: -webkit-radial-gradient(center, ellipse, #b4e391 0%, #61c419 91%, #b4e391 100%);
  background:      -o-radial-gradient(center, ellipse, #b4e391 0%, #61c419 91%, #b4e391 100%);
  background:         radial-gradient(ellipse at center, #b4e391 0%,#61c419 91%,#b4e391 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
}
.iterm--shell {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  /*overflow: hidden;*/
  font-size: 17px;
  line-height: 23px;
  position: relative;
  display: block;
  min-height: 50px;
  padding: 15px;
  text-align: left;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #3d3d3d;
}
.iterm--shell > p {
  white-space: nowrap;
}
.iterm--shell > p > span:before {
  padding-right: 10px;
  content: "$";
  color: #ffe100;
}
.go-top {
  background-color: #fff;
}
.go-top i {
  padding-left: 5.5px;
}
.go-top i:before {
  color: #000;
}
.panel-heading .nav {
  margin: -10px 0 -11px;
}

.well--download {
  overflow: hidden;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
  border: none;
  background: #242424;
}
.well--download > h2 {
  font-family: inherit;
  font-weight: 400;
  margin: 10px auto;
  color: #fafafa;
}
.well--download hr {
  max-width: 500px;
  border-color: #6b6b6b;
}
@media (max-width: 520px) {
  .well--download > h2 {
    font-size: 22.6px;
  }
}
@media (max-width: 400px) {
  .well--download > h2 {
    font-size: 22px;
  }
}
.template-container,
.download-container {
  background-color: #fafafa;
  /*padding: 40px 0;*/
}
.download-container--section {
  margin-bottom: 30px;
}
.download-container h2 {
  font-family: inherit;
  font-weight: 700;
  color: #6b6b6b;
  border-bottom: 1px solid #eee;
}
.section-break {
  height: 60px;
  margin: 20px auto;
  text-align: center;
  text-transform: capitalize;
  background: #242424;
}
.btn-gh-download {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  background-color: #4e5d6c;
}
.zero-clipboard {
  position: relative;
  display: block;
}
.btn-clipboard {
  font-size: 12px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: block;
  padding: 5px 8px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
  color: #fafafa;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 0 0 0 6px;
  background-color: #1abc9c;
}
.icon-clipboard {
  font-size: 12px;
  position: absolute;
  z-index: 10;
  top: 4px;
  right: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: -10px;
  margin-left: -10px;
  padding: 5px 8px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
  color: #fafafa;
  border-top: none;
  border-radius: 0;
  background-color: #1abc9c;
}
.fa-icon-clipboard {
  font-size: 12px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 15px;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5.333333px 8px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
  color: #fafafa;
  border-top: none;
  border-radius: 0 4px 4px 0;
  background-color: #1abc9c;
}
.tool-tip,
.tooltip-inner {
  z-index: 100;
  white-space: nowrap;
}
.btn-copy-hover {
  cursor: pointer;
  color: #fff;
  background-color: #08bddd;
}
.glyphicons-list .btn-copy-hover {
  margin-top: 1px;
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #08bddd;
}
.fontawesome-icon-list .btn-copy-hover {
  cursor: pointer;
  color: #fff;
  border-top: none;
  background-color: #08bddd;
}
.btn-copy-active,
.btn-copy:focus,
.btn-copy:active {
  outline: none;
}
.icon-copy,
.after-copy {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  right: 100px;
  bottom: -61px;
  color: #1abc9c;
}
.icon-copy {
  display: none;
}
.half-rule {
  width: 100px;
  margin: 40px auto;
}
.callout {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout-info h4 {
  color: #5bc0de;
}
.callout-warning h4 {
  color: #f0ad4e;
}
.callout-danger h4 {
  color: #d9534f;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  border-radius: 3px;
}
.callout-info {
  border-left-color: #5bc0de;
}
.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-danger {
  border-left-color: #d9534f;
}

.pln {
  color: #000;
}  /* plain text */

@media screen {
  .str {
    color: #080;
  }  /* string content */
  .kwd {
    color: #008;
  }  /* a keyword */
  .com {
    color: #323232;
  }  /* a comment */
  .typ {
    color: #606;
  }  /* a type name */
  .lit {
    color: #066;
  }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #660;
  }
  .tag {
    color: #008;
  }  /* a markup tag name */
  .atn {
    color: #606;
  }  /* a markup attribute name */
  .atv {
    color: #080;
  }  /* a markup attribute value */
  .dec,
  .var {
    color: #606;
  }  /* a declaration; a variable name */
  .fun {
    color: #f00;
  }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    font-weight: bold;
    color: #006;
  }
  .com {
    font-style: italic;
    color: #600;
  }
  .typ {
    font-weight: bold;
    color: #404;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    font-weight: bold;
    color: #006;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  min-height: 40px;
  padding: 15px 70px 15px 15px;
  border: 1px solid #888;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}




/* Testing the new sidenav */
.salty-page-header {
  background-color: #242424;
}
.main-container {
  padding-bottom: 100px;
  background-color: #fafafa;
}
.site-footer {
  position: fixed;
  z-index: 900;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a3542;
}
.fixed {
  position: fixed;
}
.nav-sidebar {
  margin-top: 130px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.nav-sidebar .nav > li > a {
  font-size: 13px;
  font-weight: 400;
  padding: 4px 20px;
  color: #999;
  border-left: 2px solid transparent;
}
.nav-sidebar .nav .nav > li > a {
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
}
.nav-sidebar .nav > .active > a,
.nav-sidebar .nav > li > a:hover,
.nav-sidebar .nav > li > a:focus {
  text-decoration: none;
  color: #16a085;
  border-left-color: #16a085;
  background-color: transparent;
}
.nav-sidebar .nav > .active > a,
.nav-sidebar .nav > .active:hover > a,
.nav-sidebar .nav > .active:focus > a {
  font-weight: 700;
}
.nav-sidebar .nav .nav > .active > a,
.nav-sidebar .nav .nav > .active:hover > a,
.nav-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
}
.nav-sidebar .nav ul.nav {
  display: none;
}
.nav-sidebar .nav > .active > ul.nav {
  display: block;
}
.nav-sidebar .affix {
  top: 110px;
}
/* End sidenav */

.container-lg-height,
.container-md-height,
.container-sm-height
.container-xs-height {
  display: table;
  padding-right: 0;
  padding-left: 0;
}
.row-lg-height
.row-md-height,
.row-sm-height,
.row-xs-height {
  display: table-row;
}
.col-lg-height,
.col-md-height,
.col-sm-height,
.col-xs-height {
  display: table-cell;
  float: none;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}


.glyphicons {
  overflow: hidden;
  margin: 0 -10px 20px;
}
.glyphicons-list {
  padding-left: 0;
  list-style: none;
}
.glyphicons-list .glyphicon {
  color: #fff;
}
.glyphicons li {
  font-size: 10px;
  line-height: 1.4;
  float: left;
  width: 25%;
  height: 85px;
  padding: 10px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #08bddd;
}
.glyphicons .glyphicon {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word; /* Help out IE10+ with class names */
}
.glyphicons li:hover {
  color: #fff;
  background-color: #1abc9c;
}
.fontawesome-icon-list {
  margin-top: 22px;
}
.fa-hover {
  position: relative;
  height: 60px;
}
.fontawesome-icon-list .prettyprint {
  display: none;
}
.fontawesome-icon-list .fa-hover .icon-name {
  line-height: 32px;
  position: relative;
  display: block;
  height: 32px;
  padding-left: 10px;
  color: #222;
  border-radius: 4px;
}
.fontawesome-icon-list .zero-clipboard {
  position: absolute;
  top: 0;
  right: 0;
}
.fontawesome-icon-list .fa-hover .icon-name {
  text-decoration: none;
  color: #fff;
  background-color: #1d9d74;
}
.icon-name > .fa {
  color: #000;
}
.icon-name:hover > .fa {
  font-size: 53px;
  width: 77px;
  margin-left: -10px;
  padding: 7px;
  text-align: center;
  background-color: #1d9d74;
}

@media (min-width: 768px) {
  .glyphicons {
    margin-right: 0;
    margin-left: 0;
  }
  .glyphicons li {
    font-size: 12px;
    width: 12.5%;
  }
}

.tab-pane .search,
.tab-pane .search:focus {
  width: 100%;
  color: #000;
  border-color: #1d9d74;
  background: url(../img/search-icon.jpg) no-repeat 10px 15px;
}
.tab-pane .btn {
  margin-bottom: 20px;
}
.example-code {
  position: relative;
  margin: 0 -15px 15px;
  padding: 45px 15px 15px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #e5e5e5 #eee #eee;
  background-color: #fff;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
.example-code:after {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 15px;
  left: 15px;
  content: "Example";
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #959595;
}
.example-code + .highlight,
.example-code + .zero-clipboard + .highlight > .prettyprint {
  margin: -15px -15px 15px;
  margin-bottom: 25px;
  /*border-width: 0 0 1px;*/
  border-radius: 0;
}
@media (min-width: 768px) {
  .example-code {
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .example-code + .zero-clipboard .btn-clipboard {
    top: -16px;
  }
  .example-code + .highlight,
  .example-code + .zero-clipboard + .highlight > .prettyprint {
    margin-top: -16px;
    margin-right: 0;
    margin-left: 0;
    border-color: #ccc;
    border-radius: 0 0 4px 4px;
  }
}
@media (max-width: 768px) {
  .example-code + .zero-clipboard + .highlight {
    position: relative;
  }
  .example-code + .zero-clipboard + .highlight:before {
    position: absolute;
    top: -9px;
    left: 0;
    padding: 1px 23px;
    content: "Code";
    background: #ccc;
  }
  .example-code + .zero-clipboard + .highlight > .prettyprint {
    padding-right: 15px;
  }
}
.show-grid {
  margin-bottom: 15px;
}
.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #08bddd;
  border-radius: 4px;
  background-color: #1d9d74;
}

#gritter-notice-wrapper {
  position: fixed;
  z-index: 9999;
  top: 20px;
  right: 20px;
  width: 301px;
}
.gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0;
  background-color: rgba(0, 0, 0, .8);
}
.gritter-top {
  height: 10px;
  background-color: rgba(0, 0, 0, .7);
}
.gritter-item {
  font-family: verdana;
  font-size: 11px;
  display: block;
  padding: 2px 11px 8px 11px;
  color: #eee;
  background-color: rgba(0, 0, 0, .7);
}
.hover .gritter-item {
  background-position: right -40px;
}
.gritter-item p {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
.gritter-close {
  position: absolute;
  top: 5px;
  left: 3px;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .7);
}
.gritter-close::before {
  position: absolute;
  top: -5px;
  right: -3px;
  padding: 7px;
  content: "X";
  background-color: #f00;
}
.gritter-title {
  font-size: 14px;
  font-weight: bold;
  display: block;
  padding: 0 0 7px 0;
  text-shadow: 1px 1px 0 #000;
}
.gritter-image {
  float: left;
  width: 48px;
  height: 48px;
}
.gritter-with-image,
.gritter-without-image {
  padding: 0;
}
.gritter-with-image {
  float: right;
  width: 220px;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  right: 0;
  left: 0;
}

.glyphicon-popover {
  max-width: 450px;
  white-space: nowrap;
}
.glyphicon-popover .icon {
  font-size: 21px;
  color: #08bddd;
}


/* Dropdowns */
.example-code > .dropdown > .dropdown-toggle {
  float: left;
}
.example-code > .dropdown > .dropdown-menu {
  position: static;
  display: block;
  clear: left;
  margin-bottom: 5px;
}
.example-code > .style-row {
  position: absolute;
  top: 0;
  right: 0;
}
.example-code > .style-row > .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 6px;
}
.example-code > .style-row > .btn-group > .btn:last-child:not(:first-child) {
  border-bottom-right-radius: 0;
}
.example-code > .style-row .btn-salty.active {
  color: #fff;
  background-color: #1fd5b1;
}
.example-code > .style-row::after {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 8px;
  left: -120px;
  content: "Choose Style";
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #959595;
}

.dropdown-toggle + .square {
  border-radius: 0;
}
.dropdown-toggle + .dark {
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
}
.dropdown-toggle + .light {
  background-color: #e7e7e7;
}
.dropdown-toggle + .dark > li > a,
.dropdown-toggle + .dark > li > a:hover,
.dropdown-toggle + .dark > li > a:focus,
.dropdown-toggle + .light > li > a:hover,
.dropdown-toggle + .light > li > a:focus {
  color: #fff;
}
.dropdown-toggle + .dark > li > a:hover,
.dropdown-toggle + .dark > li > a:focus {
  background-color: #337ab7;
}
.dropdown-toggle + .light > li > a:hover,
.dropdown-toggle + .light > li > a:focus {
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
}
.dropdown-toggle + .dark > .disabled > a,
.dropdown-toggle + .dark > .disabled > a:hover,
.dropdown-toggle + .dark > .disabled > a:focus,
.dropdown-toggle + .light > .disabled > a,
.dropdown-toggle + .light > .disabled > a:hover,
.dropdown-toggle + .light > .disabled > a:focus {
  background-color: transparent;
}
.dropdown-toggle + .dark > .disabled > a,
.dropdown-toggle + .dark > .disabled > a:hover,
.dropdown-toggle + .dark > .disabled > a:focus,
.dropdown-toggle + .light > .disabled > a:hover,
.dropdown-toggle + .light > .disabled > a:focus {
  color: #949494;
  background-color: transparent;
}
