@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
  background: #fafafa;
  font-family: "Lato", arial, helvetica, sans-serif;
  font-size: 1em;
  padding-bottom: 70px !important;
}
pre, code {
  white-space: pre-line;
}
.salty-docs-feature {
  text-align: center;
}
.navbar-slider > header .btn-dark {
  font-size: 16px;
  float: right;
  margin: 11px;
  outline: none!important;
}
.landing-page {
  background: #242424;
  margin: -20px auto 0;
  padding: 20px;
  height: 400px;
  max-width: 800px;
  display: block;
}
.landing-page > span {
  background: #242424 url("../img/salty-ui-logo.png") center center no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  display: block;
  height: 100%;
  margin: 20px auto;
  max-width: 1000px;
}
.landing-page > span > h1 {
  text-align: center;
  font-family: "Lato", arial, helvetica, sans-serif;
  font-size: 25px;
  font-size: 20vmin;
  color: #fafafa;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 2.4444px;
  cursor: default;
}
.highlight {
  cursor: text;
}
.basic-template,
.getting-started {
  background: #fafafa;
  color: #6b6b6b;
  padding: 85px 0;
  border-radius: 0;
  font-size: 26px;
  text-align: center;
  cursor: default;
}
.basic-template > h1,
.getting-started > h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  position: relative;
  cursor: default;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: .5px;
}
.basic-template > h1:after,
.getting-started > h1:after {
  content: '';
  width: 60%;
  max-width: 400px;
  height: 1px;
  background: #000;
  position: absolute;
  margin: -5px auto;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 500px) {
  .basic-template,
  .getting-started > h1 {
    font-size: 30px;
    font-size: 8vw;
  }
  .basic-template,
  .getting-started p {
    font-size: 20px;
    font-size: 5vw;
  }
}
.btn-salty {
  color: #16a085;
  background-color: transparent;
  border-color: #16a085;
}
.btn-salty:hover,
.btn-salty:focus {
  color: #fff;
  background-color: #16a085;
}
.code {
  height: 500px;
  width: 600px;
  background-image: url("../img/imac.png"); 
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  margin: 0 auto;
  padding: 24px 24px 173px;
  border-radius: 11px;
} 
.code-window {
  height: 100%;
  width: 100%;
  position: relative;
  background: lightgrey;
  padding: 5px;
  cursor: text;
}
.code-window > pre {
  position: relative;
  height: 100%;
}
.code-window xmp {
  position: absolute;
  top: 0;
  left: 0;
  margin: -10px -80px;
}
.btn-copy {
  position: absolute;
  background: #2a3542;
  border-radius: 50%;
  color: #08BDDD;
  width: 50px;
  height: 50px;
  left: 45%;
  bottom: -76px;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}

.iterm {
  max-width: 600px;
  margin: 10px auto;
  overflow: hidden;
}
.iterm--header {
  display: block;
  height: 23px;
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#cfcfcf 5%,#aaaaaa 100%);
  line-height: 23px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}
.iterm--window-icons {
  position: absolute;
  top: 1px;
  left: 10px;
  cursor: default;
}
.iterm--window-icons .yellow,
.iterm--window-icons .green,
.iterm--window-icons .red {
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  display: inline-block;
  margin: 0 2px;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
}
.iterm--window-icons .red {
  background: #ea2803; /* Old browsers */ /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(27%,#ea2803), color-stop(43%,#ea2803), color-stop(43%,#ea2803), color-stop(66%,#e86c57), color-stop(66%,#e86c57), color-stop(87%,#e86c57), color-stop(95%,#f3c5bd), color-stop(96%,#ff6600), color-stop(96%,#ff6600), color-stop(96%,#f3c5bd), color-stop(100%,#c72200)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ea2803 27%,#ea2803 43%,#ea2803 43%,#e86c57 66%,#e86c57 66%,#e86c57 87%,#f3c5bd 95%,#ff6600 96%,#ff6600 96%,#f3c5bd 96%,#c72200 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ea2803 27%,#ea2803 43%,#ea2803 43%,#e86c57 66%,#e86c57 66%,#e86c57 87%,#f3c5bd 95%,#ff6600 96%,#ff6600 96%,#f3c5bd 96%,#c72200 100%); /* Opera 12+ */ /* IE10+ */
  background: -webkit-radial-gradient(center, ellipse, #ea2803 27%, #ea2803 43%, #ea2803 43%, #e86c57 66%, #e86c57 66%, #e86c57 87%, #f3c5bd 95%, #ff6600 96%, #ff6600 96%, #f3c5bd 96%, #c72200 100%);
  background: -o-radial-gradient(center, ellipse, #ea2803 27%, #ea2803 43%, #ea2803 43%, #e86c57 66%, #e86c57 66%, #e86c57 87%, #f3c5bd 95%, #ff6600 96%, #ff6600 96%, #f3c5bd 96%, #c72200 100%);
  background: radial-gradient(ellipse at center, #ea2803 27%,#ea2803 43%,#ea2803 43%,#e86c57 66%,#e86c57 66%,#e86c57 87%,#f3c5bd 95%,#ff6600 96%,#ff6600 96%,#f3c5bd 96%,#c72200 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2803', endColorstr='#c72200',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
}
.iterm--window-icons .yellow {
  background: #ffd65e; /* Old browsers */ /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffd65e 25%,#febf04 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffd65e 25%,#febf04 100%); /* Opera 12+ */ /* IE10+ */
  background: -webkit-radial-gradient(center, ellipse, #ffd65e 25%, #febf04 100%);
  background: -o-radial-gradient(center, ellipse, #ffd65e 25%, #febf04 100%);
  background: radial-gradient(ellipse at center, #ffd65e 25%,#febf04 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
}
.iterm--window-icons .green {
  background: #b4e391; /* Old browsers */ /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b4e391), color-stop(91%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 91%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #b4e391 0%,#61c419 91%,#b4e391 100%); /* Opera 12+ */ /* IE10+ */
  background: -webkit-radial-gradient(center, ellipse, #b4e391 0%, #61c419 91%, #b4e391 100%);
  background: -o-radial-gradient(center, ellipse, #b4e391 0%, #61c419 91%, #b4e391 100%);
  background: radial-gradient(ellipse at center, #b4e391 0%,#61c419 91%,#b4e391 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ) /* IE6-9 fallback on horizontal gradient */
}
.iterm--shell {
  font-family:  Consolas, "Liberation Mono", Courier, monospace;
  background-color: #3d3d3d;
  display: block;
  min-height: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  /*overflow: hidden;*/
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  color: #fff;
  position: relative;
}
.iterm--shell > p {
  white-space: nowrap;
}
.iterm--shell > p > span:before {
  content: '$';
  color: #FFE100;
  padding-right: 10px;
}

.go-top i {
  padding-left: 5.5px;
}
.go-top i:before {
  color: #000;
}

.well--download{ 
  background: #242424;
  border: none;
  text-align: center;
  margin: 20px auto;
  overflow: hidden;
  white-space: nowrap;
  max-width: 500px;
  text-transform: capitalize;
}
.well--download > h2 {
  margin: 10px auto;
  font-family: inherit;
  font-weight: 400;
  color: #fafafa;
}
.well--download hr{
  max-width: 500px;
  border-color: #6b6b6b;
}
@media (max-width: 520px) {
  .well--download > h2 {
    font-size: 22.6px;
  }
}
@media (max-width: 400px) {
  .well--download > h2 {
    font-size: 22px;
  }
}
.template-container,
.download-container {
  background: #fafafa
  /*padding: 40px 0;*/
}
.download-container--section {
  margin-bottom: 30px;
}
.download-container h2 {
  font-family: inherit;
  font-weight: 700;
  color: #6b6b6b;
  border-bottom: 1px solid #eee;
}
.section-break {
  height: 60px;
  background: #242424;
  text-align: center;
  margin: 20px auto;
  text-transform: capitalize;
}
.btn-gh-download {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: #4e5d6c;
  right: 0;
  bottom: 0;
}
.zero-clipboard {
  display: block;
  position: relative;
}
.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #fafafa;
  cursor: pointer;
  background-color: #4F5F71;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
  -webkit-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
.tool-tip, .tooltip-inner {
  white-space: nowrap;
  z-index: 100;
}

.btn-copy-hover {
  background-color: #2a3542;
  color: #08BDDD;
  cursor: pointer;
}
.btn-copy-active, .btn-copy:focus, .btn-copy:active {
  outline: none;
}
.after-copy {
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  bottom: -61px;
  right: 100px;
  color: #1abc9c
}
.half-rule {
  width: 100px;
  margin: 40px auto;
}







.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }
.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 0 /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}


/* Testing the new sidenav */
.salty-page-header {
  background-color: #242424;
}
.main-container {
  background-color: #fafafa;
  padding-bottom: 100px;
}
.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
}
.fixed {
  position: fixed;
}
.nav-sidebar {
  padding-left: 20px;
  margin-top: 130px;
  margin-bottom: 20px;
}
.nav-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}
.nav-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}
.nav-sidebar .nav>.active>a, 
.nav-sidebar .nav>li>a:hover, 
.nav-sidebar .nav>li>a:focus {                 
  color: #16a085;                 
  text-decoration: none;          
  background-color: transparent;  
  border-left-color: #16a085; 
}
.nav-sidebar .nav>.active>a, 
.nav-sidebar .nav>.active:hover>a,
.nav-sidebar .nav>.active:focus>a {
  font-weight: 700;
}
.nav-sidebar .nav .nav>.active>a, 
.nav-sidebar .nav .nav>.active:hover>a,
.nav-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}
.nav-sidebar .nav ul.nav {
  display: none;           
}
.nav-sidebar .nav>.active>ul.nav {
  display: block;           
}
.nav-sidebar .affix {
  top: 110px;
}
/* End sidenav */

.container-lg-height,
.container-md-height,
.container-sm-height
.container-xs-height {
  display: table;
  padding-left: 0;
  padding-right: 0;
}
.row-lg-height
.row-md-height,
.row-sm-height,
.row-xs-height {
  display: table-row;
}
.col-lg-height,
.col-md-height,
.col-sm-height,
.col-xs-height {
  display: table-cell;
  float: none;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
